{% extends "layout.html" %}
{% block body %}

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first"></div>
  
      <!-- Login Form -->
      <form action="/adminLogin" method="post">
        <h3 class="form_heading">Admin Login</h3>
        <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email" style="margin-top: 2rem;">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
        <div class="message" style="color: red;">
          {{message}}
        </div>
        <input type="submit" class="fadeIn fourth" value="Log In" style="margin-top: 3rem;">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>


{% endblock %}